<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>
  
  <targets>

    <target xsi:type="File"
        name="service"
        archiveFileName = "logs/NLogWithKafkaDemo-{##}.log"
        archiveAboveSize="5242880"
        maxArchiveFiles = "10"
        archiveNumbering="Rolling"
        fileName="logs/NLogWithKafkaDemo.log"
        encoding="utf-8"
        layout="${date:format=yyyy-MM-dd HH\:mm\:ss,fff} ${level:uppercase=true} ${logger:shortName=true} - ${message}" />

    <!--xsi:type="Kafka"-->
    <!--xsi:type="KafkaAsync"-->
    <target 
            xsi:type ="KafkaAsync"
            name="kafka"           
            topic="VioDataCenter"            
            bootstrapServers = "192.168.0.220:9092,192.168.0.221:9092,192.168.0.222:9092"
            layout="${aspnet-request:item=traceId}~${aspnet-request:item=requestIp}~${message}"
            />   
   
  </targets>

  <rules>
    <logger name="NLogWithKafkaDemo.*" minlevel="Debug" writeTo="service" />
    <logger name="NLogWithKafkaDemo.*" minlevel="Debug" writeTo="kafka" />
  </rules>
</nlog>
